{% extends 'main/base.html' %}

{% load static %}

{% block title %} {{category.name}} {% endblock %}



{% block body %}

    <!-- Info of this category -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/media/{{category.image}}" alt="" width="285px" height="285px" class="rounded-circle"> 
            </div>
            <div class="col-md-6">
                <h3>{{category.name}}</h3>
                <p>{{category.desc}}</p>
            </div>
        </div>
    </div>

    <!-- All products of this category -->
    <div class="container my-5">
        <div class="row row-cols-2 row-cols-md-4">
            {% for product in products %}
                <div class="col my-2">
                    <div class="card h-100 shadow pb-2 mb-2 bg-white rounded">
                        <img src="/media/{{product.image}}" class="card-img-top h-50" alt="...">
                        <div class="card-body">
                            <h6 class="card-title text-info">{{product.name}}</h6>
                            <p class="card-text">{{product.desc|slice:"0:80"}}...</p>
                            <h6>BDT. {{product.price}}</h6>
                            <button id="product{{product.id}}" class="btn btn-info cart">Add to cart</button>
                            <a href="/main/products/{{product.id}}" id="product_view{{product.id}}" class="btn btn-outline-info">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="{% static 'main/js/category_view.js' %}"></script> --> <!--Required when using external js file from static-->
    
    <script>

        if(localStorage.getItem('cart') == null){
            cart = {};
        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
        $('.cart').click(function(){

            var idStr = this.id.toString();
            console.log(idStr);

            if(cart[idStr] != undefined){
                cart[idStr] = cart[idStr] + 1;
            }
            else {
                cart[idStr] = 1;
            }
            console.log(cart);
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        });
        
    </script>
    
{% endblock %}  