{% extends 'main/base.html' %}

{% block title %} {{category.name}} {% endblock %}



{% block body %}

    {% load static %}

    <!-- Info of this category -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/media/{{category.image}}" alt="" width="285px" height="285px" class="rounded-circle"> 
            </div>
            <div class="col-md-6">
                <h3>{{category.name}}</h3>
                <p>{{category.desc}}</p>
            </div>
        </div>
    </div>

    <!-- All products of this category -->
    <div class="container my-5">
        <div class="row row-cols-2 row-cols-md-4">
            {% for product in products %}
                <div class="col my-2">
                    <div class="card h-100 shadow pb-2 mb-2 bg-white rounded">
                        <img src="/media/{{product.image}}" class="card-img-top h-50" alt="...">
                        <div class="card-body">
                            <h6 class="card-title text-info">{{product.product_name}}</h6>
                            <p class="card-text">{{product.desc|slice:"0:80"}}...</p>
                            <h6>BDT. {{product.price}}</h6>
                            <button class="btn btn-info">Add to cart</button>
                            <a href="/main/products/{{product.id}}" id="product_view{{product.id}}" class="btn btn-outline-info">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            autoplay: true,
            autoplayTimeout: 2000,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    </script>
{% endblock %}  