{% extends 'main/base.html' %}
{% block css %}

{% endblock %}
{% block title %} Contact Us {% endblock %}
{% block body %}
<div class="container">
    <h3 align = "center">Contact Us</h3>
    <form action="/main/contact/" method="post">{% csrf_token %}
 <div class="form-group">
   <label for="name">Full Name</label>
   <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" Required>
 </div>
         <div class="form-group">
   <label for="name">Email/Gmail</label>
   <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" Required>
 </div>
         <div class="form-group">
   <label for="name">Phone/Telephone</label>
   <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" Required>
 </div>
         <div class="form-group">
  <div class="form-group">
   <label for="desc">Sir, how can we help you ?</label>
   <textarea class="form-control" id="desc" name="desc" rows="3" Required></textarea>
 </div>

 <div class="d-flex justify-content-center row">
    <button type="submit" class="btn btn-success col-3" style="background-color:orangered">Submit</button>
 </div>

<div >

    <div style="text-align:center">
        <br>
        <br>
        <br>
        <br>
        <h3>Contact info</h3>
        <br>
        <br>
        <h6>Number :  {% for phone in phones %} {{phone}}  &nbsp; &nbsp; {% endfor %}
        </h6>
        <br>
        <h6>Address :  {% for address in addresses %} {{address}}  &nbsp; &nbsp; {% endfor %}</h6>
        <br>
        <h6>E-mail :  {% for email in emails %} {{email}}  &nbsp; &nbsp; {% endfor %}</h4>
        <br>
        <h6>Facebook page : {% for page in pages %} <a href= "{{page}}" target="_blank">FaceBook</a>  &nbsp; &nbsp; {% endfor %}</h6>
        <br>
      </div>

</div>
 

{% endblock %}


  {%block js%}
  <script>
  {% if thank %}
  alert('Thanks for contacting us. You will get an E-mail soon');
  document.location = "/main/contact";
  {%endif%}
  </script>
  {% endblock %}
