{% extends 'main/base.html' %}

{% block title %} {{product.name}} {% endblock %}



{% block body %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/media/{{product.image}}" alt="" height="225px"> 
            </div>
            <div class="col-md-6">
                <h4 class="text-info">{{product.name}}</h4>
                <p>{{product.desc}}</p>
                <h5>Category: <span class="text-info">{{product.caption}}</span></h5>
                <h5>Price: <span class="text-info">BDT. {{product.price}}</span></h5>
            </div>
        </div>
    </div>

{% endblock %}